

#logo {
    width: 100px;
    height: 100px;
    border: 0px solid black;
    margin-top: -60px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
#footer {
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border: 0px solid white;}
    