body {
    background-color: lightblue;
}


img {
    display: block;
    margin: auto;
    width: 40%;
}

.title {
    background-color: orange;
    color: white;
    padding: 10px;
    font-size:20px;
}